<header>
  <div class = "container">
  <div class="row">
    <div class="columns large-2">
      <a id="logo" routerLink="/"><img class = "logo" src="assets/browser-pic.jpg" alt = "internet logo"></a>
    </div>
    <div class="columns large-6">
      <a routerLink="/"><h1 *ngIf="title; else defaulttemplate">
       Welcome to Sabrina's {{title}}!</h1>
     <ng-template #defaulttemplate>Forgot to write the title!</ng-template></a>
    </div>
    <div class="columns large-4">
      <ul>
        <li><a routerLink="/blogs">Blogs</a></li>
        <li><a routerLink="/coverletter">Cover Letter</a></li>
      </ul>
    </div>
  </div>
  </div>
</header>