<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>

<router-outlet></router-outlet>
<div class="appSummary">
    <h3 class="app-summary">Expert in information technology and services industry with advanced skills expected in a {{jobPosition}}</h3>
</div>
  <hr class="horLine">
  <ul class="skilllist cf">
    <h3 class="appSkill" #skilltitle>Skills:</h3>
    <li class="skilllist cf" *ngFor='let skill of skills'>
     {{skill.name}}
    </li>
  </ul>
  <hr class="horLine">
  <ul class="schoollist cf">
    <h3 class="school-title" #schooltitle>Schools:</h3>
    <li class="schoollist cf" *ngFor='let school of schools'>
     <h3 class="school-name">{{school.name}}</h3>
     <h4 class="school-name">{{school.major}}</h4>

    </li>
  </ul>
  
  <div class="card search">
    <h2 class="search-headlines">{{projectTitle}}</h2>
    <label class="search-label">Please enter space bar to see the list of Project...Search
	 <span *ngIf="query"
      [innerHTML]="' for: ' + query"></span></label>
    <input class="search-input"
      [(ngModel)]="query" placeholder="Enter Space Bar">
</div>

<ul class="projectlist cf" *ngIf="query">

    <li class="projectlist-item cf"
        (click)="showProject(item); query=''"
              *ngFor="let item of (projects | search: query)">
       <project-item class="content" [project]=item></project-item>

    </li>

</ul>

<project-details *ngIf="currentProject" [project]="currentProject"></project-details>
  
  
  
  <button [disabled]="buttonState">Project Definition</button>
  <img [src]="logoUrl" *ngIf="toggbtnState">

  <input type="text" (keyup.enter)="keyPress($event.target.value)">
  <p>{{ typed }}</p>
