/* ---------------------- */
/* artist-item.css Styles */
/* ---------------------- */

.project-img {
  width: 60px;
  border-radius: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}

.project-info {
  display: block;
  margin: 5px 0;
}

.project-info .project-name {
  font-size: 1.4rem; 
  margin-top: 0;
}

.project-info .project-year {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 0;
}
