<div class="row">
  <div class="large-12 columns">
    <h1>Cover Letter</h1>
    <p>I am writing to apply for the Front End Developer position.
I am very excited about this opportunity as it will allow me to work in an open and flexible environment and pursue my innovative ideas while applying my technical skills, education, and knowledge.</p>

<p>At Code for Social Good I am creating websites using HTML5, CSS3, and typescript, node and angularjs2.
At Udacity, I worked on many projects using Python, JavaScript, HTML5, CSS3, AngularJS, jQuery, Bootstrap, and PostgreSQL. In addition, I have work experience with RESTful APIs.
I designed a Multi-user Blog where I have used two main technologies - Google App Engine and Jinja.</p>

<p>I am honest, hard-working, and conscientious. I enjoy working in a challenging work environment.
I have included my resume for your review and would highly appreciate an opportunity to talk you. My phone number and email address are listed above. Thank you for your kind consideration. I look forward to hearing from you.</p>

<p>Sincerely,</p>
<p>Sabrina Dowla
</p>
</div>
</div>